#enter-header {
    height: 150px;
}

.enter-main {
    margin-bottom: 150px;
}

.enter-group {
    width: 100%;
}

.enter-email {
    margin-bottom: 40px;
}

.enter-email input {
    background-color: #333;
    border: none;
    padding-left: 30px;
}

.enter-text {
    font-size: 5rem;
    margin-bottom: 55px;
    font-weight: bold;
}

.enter-btn {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    padding: 23.5px;
    border-radius: 10px;
}

.gender-age {
    display: flex;
    justify-content: space-between;
    margin-bottom: -23px;
}

.gender-age div {
    width: 45%;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 550px) {
    .enter-email input {
        width: 94.5%;
        border-radius: 10px;
    }
}

@media only screen
and (min-device-width: 550px)
and (max-device-width: 950px) {
    .enter-email input {
        width: 95%;
        font-size: 1.8rem;
        padding: 21px;
        border-radius: 6px;
    }

    .enter-text {
        font-size: 3rem;
    }

    .enter-btn {
        font-size: 1.8rem;
        padding: 20px;
        border-radius: 6px;
    }
}

@media only screen
and (min-device-width: 950px) {
    .enter-group {
        width: 40%;
    }

    .enter-text {
        font-size: 2rem;
    }

    .enter-email {
        margin-bottom: 25px;
    }

    .enter-email input {
        border-radius: 6px;
        padding-left: 15px;
    }

    .enter-btn {
        font-size: 1.2rem;
        padding: 13px;
        border-radius: 6px;
        width: 100%;
    }
}
