.one-show-header{
    height: 100px;
}

.One-Show-Top-items {
    justify-content: flex-end;
    width: 50%;
}

.one__show-name {
    font-size: 2.3rem;
    margin: 0 0 15px 0;
}

.show-items {
    display: flex;
    justify-content: space-between;
}

.show__items-info {
    background: darkgray;
    height: auto;
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 4px;
    color: #000;
}

.show__items-info a {
    text-decoration: none;
    color: #000;
}

.show__items-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42%;
}

.show__items__sharing-heading {
    display: flex;
    justify-content: flex-end;
}

.show__items-btn {
    background-color: #e50914;
    display: flex;
    justify-content: space-evenly;
    margin-top: -3px;
    padding: 5px;
}

.show__items-btn svg {
    height: 2rem;
    color: #fff;
}

.show__items__info__item-heading {
    margin-bottom: 5px;
    font-size: 1.6rem;
}

.show__items__info-item {
    margin-bottom: 5px;
}

.show__items__info__item-rating {
    margin-bottom: 5px;
    display: flex;
}

.show__items__info__item-rating svg {
    height: 1rem;
    margin-right: 5px;
}

.show__items__sharing-btn {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}

.show__items__sharing-btn div svg {
    height: 2rem;
}

.twitter-svg-sharing {
    margin-right: 5px;
}

.show__items__sharing-btn a {
    color: #fff;
}
