.list-heading {
    font-size: 2.5rem;
    display: flex;
}

.list-heading div {
    margin-right: 10px;
}

.list-heading a {
    color: #fff;
    text-decoration: none;
}

.list__heading-shows:hover, .list__heading-users:hover, button:hover, .user-like:hover {
    transform: scale(1.1);
}

.user-hr {
    padding: 0;
    margin: 0 0 25px 0;
}

.users-list {
    width: 100%;
}

.users-user {
    background-color: #4c4c4c;
    border-radius: 5px;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.users__user-content {
    display: flex;
    align-items: center;
}

.users__user-photo {
    width: 5rem;
    height: 6rem;
    margin-right: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users__user-photo img {
    min-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
}

.users__user-info {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.add-to-friends {
    padding: 5px 15px;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: #e50914;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 550px) {
    .list-heading {
        font-size: 3rem;
    }

    .users__user-info {
        font-size: 1.5rem;
    }

    .users__user-photo {
        width: 6rem;
        height: 6rem;
    }
}

@media only screen
and (min-device-width: 550px)
and (max-device-width: 950px) {
    .users__user-info {
        font-size: 1.3rem;
    }

    .users__user-photo {
        width: 5rem;
        height: 5rem;
    }
}

@media only screen
and (min-device-width: 950px) {

}