@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

body {
    background-color: #000;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.header {
    height: 100vh;
}

.main {
    padding: 35px 0 0;
    display: flex;
    justify-content: center;
}

.footer {
    color: #757575;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

hr {
    width: 100%;
    margin: 40px;
}

.container {
    width: 85%;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container, .ready-to-subscribe, .footer-info {
    width: 100%;
}

.bg-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    transform: none;
    box-shadow: inset 0 0 100px 400px rgba(0, 0, 0, 0.5);
}

.header-bg-gradient {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, .4);
    box-shadow: inset 0 0 60px 85px rgba(0, 0, 0, 0.5);
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 15px auto 0 auto;
}

.top-icon {
    color: #e50914;
    font-size: 30px;
    font-weight: bold;
}

.enter-btn {
    background-color: #e50914;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 7px 17px;
    border-radius: 4px;
}

.enter-btn a {
    color: #ffff;
}

.header-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}

.header__main-email {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header__main-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    background-color: #e50914;
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    padding: 40px 0;
    text-align: center;
}

.card-heading {
    font-size: 3.6rem;
    margin-bottom: 20px;
}

.card-text {
    font-size: 2.15rem;
    margin-bottom: 20px;
}

.card-img {
    display: flex;
    justify-content: center;
}

.email-error {
    color: #ffa00a;
    margin: 5px 0 0 5px;
    text-align: left;
}

.user-icon:after {
    content: '⬇';
    color: #e50914;
    font-size: 2.3rem;
    margin-left: 2.2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4c4c4c;
    color: #D3D3D3;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 2.5rem 0 0 -7.6rem;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown__user-photo {
    width: 6rem;
    height: 6rem;
    background: #8bb8bc;
}

.dropdown__user-name {
    font-size: 1.2rem;
    margin-top: 5px;
    color: #D3D3D3;
}

.dropdown__personal-follows svg, .dropdown__personal-friends svg {
    height: 1rem;
    margin-right: 5px;
}

.dropdown__personal-follows a, .dropdown__personal-friends a{
    color: #D3D3D3;
    text-decoration: none;
}

.dropdown-user, .dropdown-personal {
    width: 75%;
}

.dropdown-user {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid;
    margin-bottom: 12px;
}

.dropdown-personal {
    padding-bottom: 15px;
}

.dropdown__personal-follows:hover, .dropdown__personal-friends:hover {
    color: #e50914;
}

.input-group {
    justify-content: center;
}

@media (max-width: 550px) {
    .header-bg-gradient {
        background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, .8) 100%);
    }

    .input-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-icon {
        font-size: 35px;
    }

    .enter-btn {
        font-size: 30px;
    }

    .header-main {
        width: 85%;
        margin-top: 60px;
    }

    .header__main-heading {
        font-size: 65px;
    }

    .header__main-text {
        font-size: 40px;
        padding: 30px;
    }

    .header__main-last {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .header__main-email {
        display: flex;
        width: 100%;
    }

    .header__main-email input {
        padding: 30px 15px;
        font-size: 30px;
        width: 96%;
    }

    .header__main-btn {
        width: 45%;
        margin-top: 20px;
    }

    .header__main-btn button {
        font-size: 30px;
        border-radius: 8px;
        height: 81px;
    }

    .header__main-btn button svg {
        height: 40px;
        margin-left: 10px;
    }

    .subscribe-heading {
        font-size: 3rem;
        margin-bottom: 15px;
    }

    .footer__info-heading {
        font-size: 2rem;
    }

    .footer__info-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .items-block {
        width: 50%;
        font-size: 1.3rem;
        margin: 25px 0 0 0;
    }

    .bottom-item {
        margin: 0;
    }

    .email-error {
        font-size: 1.4rem;
    }

    .user-icon:after {
        margin-left: 2.8rem;
    }

    .dropdown-content {
        margin: 3rem 0 0 -7.4rem;
    }

    .dropdown__personal-follows, .dropdown__personal-friends, .dropdown__user-name {
        font-size: 1.6rem;
    }

    .dropdown__personal-follows svg, .dropdown__personal-friends svg {
        height: 1.4rem;
    }
}

@media (max-width: 950px) {
    .enter-btn {
        font-size: 20px;
    }

    .input-group {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-main {
        width: 72%;
    }

    .header__main-heading {
        font-size: 3rem;
        width: inherit;
    }

    .header__main-text {
        font-size: 2rem;
        padding: 5px;
    }

    .header__main-last {
        font-size: 1.3rem;
        padding-bottom: 10px;
    }

    .header__main-email {
        display: flex;
        justify-content: center;
    }

    .header__main-email input {
        padding: 15px 10px;
        font-size: 1.1rem;
        width: 100%;
    }

    .header__main-btn {
        width: 45%;
        margin-top: 20px;
    }

    .header__main-btn button {
        font-size: 1.3rem;
        border-radius: 5px;
        height: 55px;
    }

    .header__main-btn button svg {
        height: 20px;
        margin-left: 10px;
    }

    .card-heading {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .card-text {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .card-img {
        display: flex;
        justify-content: center;
    }

    .subscribe-heading {
        font-size: 2.1rem;
        margin-bottom: 15px;
    }

    .footer__info-heading {
        font-size: 2rem;
    }

    .footer__info-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .items-block {
        width: 50%;
        font-size: 1.3rem;
        margin: 25px 0 0 0;
    }

    .bottom-item {
        margin: 0;
    }

    .email-error {
        font-size: 0.9rem;
    }
}

@media (min-width: 950px) {
    .header-main {
        width: 72%;
    }

    .input-group {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }

    .header__main-heading {
        font-size: 3rem;
        width: inherit;
    }

    .header__main-text {
        font-size: 2rem;
        padding: 10px;
    }

    .header__main-last {
        font-size: 1.3rem;
        padding-bottom: 20px;
    }

    .header__main-email {
        display: flex;
        justify-content: center;
    }

    .header__main-email input {
        padding: 16.5px 10px;
        font-size: 1rem;
        width: 100%;
    }

    .header__main-btn {
        width: 45%;
        margin: 0;
    }

    .header__main-btn button {
        font-size: 1.3rem;
        height: 55px;
    }

    .header__main-btn button svg {
        height: 20px;
        margin-left: 10px;
    }

    .card {
        display: flex;
        align-items: center;
    }

    .odd-card {
        flex-direction: row-reverse;
    }

    .card-describe {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 50%;
    }

    .card-heading {
        font-size: 3.2rem;
    }

    .card-img {
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 50%;
    }

    .card-img img {
        width: 100%;
    }

    .subscribe-heading {
        text-align: center;
        font-size: 1.4rem;
        padding: 30px;
    }

    .footer__info-heading {
        font-size: 1.5rem;
    }

    .footer__info-items {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .items-block {
        width: 50%;
        font-size: 0.8rem;
        margin: 25px 0 0 0;
    }

    .footer-container {
        padding: 0 0 35px 0;
    }
}
